[Unit]
Description=Reimzul Repogen Worker %i
DefaultDependencies=no
After=network.target
After=stunnel.target

[Install]
WantedBy=multi-user.target
Alias=reimzul-repogen-worker.target

[Service]
Type=simple
User=reimzul
Group=reimzul
ExecStart=/srv/reimzul/code/repogen_worker.py
ExecStop=/usr/bin/kill -9 $MAINPID
RemainAfterExit=yes
Restart=always
RestartSec=1

