[Unit]
Description=Reimzul notifier
DefaultDependencies=no
After=network.target
After=stunnel.target

[Install]
WantedBy=multi-user.target
Alias=reimzul-notifier.target

[Service]
Type=simple
User=reimzul
Group=reimzul
ExecStart=/srv/reimzul/code/reimzul-notifier.py
Restart=always
RestartSec=1

